<%= form_for(@page) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content, :id => "text_for_preview", :style => "width: 900px" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <hr/>
  <div>
    <span id="preview_area">Update textarea to activate preview</span>
  </div>
  <hr/>
<% end %>
