<%= render "navigation" %>
<hr/>

<div id="contents">
	<p>
		<h1 id="content_title"><%= @page.title %></h1>
	</p>

	<p>
		<%= @page.content.html_safe %>
	</p>

	<% if logged_in? %>
	<%= link_to 'Edit', edit_page_path(@page) %>
	<% end %>

	<small><i>Last updated <%= @page.updated_at.strftime("%m/%d/%Y") %></i></small>
</div>
